/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* Fonts declaration */
:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: var(--system-ui);
  color: white;
}

@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('fonts/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Style */
.main-content {
  min-height: 100lvh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image-side-bar {
  background-image: url('./images/side-image.jpg');
  background-size: cover;
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.right-content {
  flex: 1 1 70%;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  margin-top: 20dvh;
  padding: 10px;
  text-align: center;
  font-family: 'kaushan_scriptregular';
}

cite {
  color: white;
  font-style: normal;
  padding: 10px;
  text-align: center;
}

cite a {
  color: white;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}

form > div {
  padding: 30px 250px 30px 50px;
}

.big-text {
  font-size: 1.5rem;
}

.form-description p:last-child,
.form-bottom p:last-child {
  margin-top: 30px;
}

.form-main {
  background-color: rgb(20, 20, 20);
}

.form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 30px;
}

.form-field {
  display: flex;
  flex-direction: column;
  flex: 1 0 30%;
  margin-right: 60px;
}

.form-field label {
  color: rgb(207, 207, 207);
  font-size: 0.8rem;
}

.form-field input {
  border: 0;
  border-radius: 3px;
  background-color: rgb(75, 75, 75);
  color: white;
}

form button {
  color: white;
  font-weight: bold;
  background-color: rebeccapurple;
  border: 0;
  border-radius: 10px;
  padding: 10px 30px;
}

form button:hover {
  background-color: rgb(128, 83, 174);
  cursor: pointer;
}

form a {
  text-decoration: none;
  font-weight: bold;
  color: rebeccapurple;
}